       
    <div class="section" ng-init="inicio = true">
        <div class="container">
            <div class="row">
			<h1>Trabalho PW2 <small>Trabalho da matéria de Programação WEB 2</small></h1>
			
                <div class="col-md-12"> 
                  <div id="Carousel" class="carousel slide">
                        <ol class="carousel-indicators">
                            <li data-target="Carousel" data-slide-to="0" class="active"></li>
                            <li data-target="Carousel" data-slide-to="1"></li>
                            <li data-target="Carousel" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="item active">
                                <img src="img/receitas1.jpg" class="img-responsive">
                                <div class="carousel-caption">
                                    <h2>Cadastro de Receitas</h2>
                                    <p>Cadastre suas receitas</p>
                                </div>
                            </div>
                            <div class="item">
                                <img src="img/receitas3.jpg" class="img-responsive">
                                 <div class="carousel-caption">
                                    <h2>Controle de gastos</h2>
                                    <p>Saiba quantos vai gastar com cada receita</p>
                                </div>
                            </div>
                            <div class="item">
                                <img src="img/receitas2.jpg" class="img-responsive">
                                 <div class="carousel-caption">
                                    <h2>Vale a pena?</h2>
                                    <p>Calcule o valor de venda para cada receita</p>
                                </div>
                            </div>
                        </div>
                        <span class="left carousel-control" data-target="#Carousel" data-slide="prev">
                            <span class="icon-prev fa fa-angle-left"></span>
                        </span>
                        <span class="right carousel-control" data-target="#Carousel" data-slide="next">
                        <span class="icon-next fa fa-angle-right"></span>
                        </span>
                        </div>
                </div>
            </div>
        </div>
    </div>    
