  
  <div ng-show="logado" class="jumbotron">
        <h1 class="text-center">{{tituloPagina}}</h1>
    </div>
    <div ng-show="logado" class="container">
        
        <a href="#/novaReceita" class="btn btn-default">Nova Receita</a>
        <div class="row">
            <table id="tblReceitas" class="table table-stripped tabela" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <td>Nome</td>
                        <td>Tipo</td>
                        <td>Dificuldade</td>
                        <td>Tempo</td>                        
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="receita in receitas">
                        <td>{{receita.nome}}</td>
                        <td>{{receita.tipo}}</td>
                        <td>{{receita.dificuldade}}</td>
                        <td>{{receita.tempo}}</td>                        
                        <td>
                            <a class="btn btn-default" href="#/detalhesReceita/{{receita._id}}">Ver</a>
                            <a class="btn btn-warning" href="#/editaReceita/{{receita._id}}">Editar</a>
                            <button class="btn btn-danger" ng-click="apagaReceita(receita._id)" >Apagar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>  
    <div ng-show="!logado" class="alert alert-danger"> <h1 class="text-center">ACESSO NÃO AUTORIZADO</h1></div>